<html>
<body>
<form method="POST" action="/">
 <label for="image">Enter image</label>   <input type="text" name="image" id="image">
 <button>Submit</button>
</form>
<% if(opID) { %>

    <form method="GET" action="/<%=opID%>">
        <button>Extract text</button>
    </form>

<%} %>
</body>
</html>